<h3>Student Management System</h3>
<p>Welcome to the student management system.</p>

<table class="table">
  <thead class="thead">
    <tr>
      <th>#</th>
      <th>Student Name</th>
      <th>Campus</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
    <tr>
      <td><a href=<%= student['id'] %>><%= student['id'] %></a></td>
      <td><%= student['name'] %></td>
      <td><%= student['campus'] %></td>
      <td><%= student['age'] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
